virtual_environment_endpoint = ""
virtual_environment_username = ""
virtual_environment_password = ""
target_team_id               = ""
target_problem_id            = ""
datastore                    = ""
template_id                  = ""
