{
  "AZW": "01",
  "GPO": "02",
  "RJB": "03",
  "WKR": "04",
  "MFD": "05",
  "ESZ": "06",
  "MKP": "07",
  "DGR": "08",
  "LHM": "09",
  "FNZ": "11",
  "CWJ": "12",
  "JKI": "13",
  "XVS": "14",
  "YTG": "15",
  "INF": "16",
  "MGI": "17",
  "XET": "18",
  "QUO": "19",
  "FCQ": "20",
  "ISO": "21",
  "ZTD": "22",
  "XZU": "23",
  "BKT": "24",
  "DXZ": "25",
  "MUS": "27",
  "RFM": "28",
  "KJV": "29",
  "AHF": "30",
  "DNB": "31",
  "IKM": "32",
  "OQC": "33",
  "ZVF": "34",
  "OMV": "35",
  "EDS": "36",
  "LTN": "37",
  "OKO": "38",
  "QNE": "39"
}
